---

import Layout from '../../layouts/Layout.astro'
import Picks from '../../components/Picks.astro';

const weekPicks = [
    {
        teamA: "bengals",
        teamB: "ravens",
        gamblingLine: "Ravens -3.5"
    },
    {
        teamA: "steelers",
        teamB: "browns",
        gamblingLine: "Steelers +3.5"
    },
    {
        teamA: "bears",
        teamB: "lions",
        gamblingLine: "Lions -10"
    },
    {
        teamA: "chargers",
        teamB: "packers",
        gamblingLine: "Chargers -3.0"
    },
    {
        teamA: "cowboys",
        teamB: "panthers",
        gamblingLine: "Cowboys -10.5"
    },
    {
        teamA: "raiders",
        teamB: "dolphins",
        gamblingLine: "Dolphins -10.0"
    },
    {
        teamA: "giants",
        teamB: "commanders",
        gamblingLine: "Commanders -10.0"
    },
    {
        teamA: "steelers",
        teamB: "browns",
        gamblingLine: "Steelers -1.5"
    },
    {
        teamA: "titans",
        teamB: "jaguars",
        gamblingLine: "Titans +5.5"
    },
    {
        teamA: "cardinals",
        teamB: "texans",
        gamblingLine: "Cardinals +5.5"
    },
    {
        teamA: "buccaneers",
        teamB: "49ers",
        gamblingLine: "Bucaneers +10.0"
    },
    {
        teamA: "jets",
        teamB: "bills",
        gamblingLine: "Jets +7.0"
    },
    {
        teamA: "seahawks",
        teamB: "rams",
        gamblingLine: "Seahawks -3.0"
    },
    {
        teamA: "vikings",
        teamB: "broncos",
        gamblingLine: "Vikings +1.5"
    },
    {
        teamA: "eagles",
        teamB: "chiefs",
        gamblingLine: "Chiefs -2.5"
    },
]
---




<Layout title='Week 9 picks'>
    <h1>These are my week 9 picks</h1>
    <Picks picks={weekPicks}></Picks>
</Layout>
