---

import Layout from '../../layouts/Layout.astro'
import Card from '../../components/Card.astro';

---


<Layout title='Week 9 picks'>
    <h1>These are my week 9 picks</h1>
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2">
        <li class="">
            <Card
            teamA="Bills"
            teamB="Broncos"
            teamLogoSrcA="/bills.svg"
            teamLogoSrcB="/broncos.svg"
            gamblingLine="Bills +6.5"
        />
        </li>
        <li class="">
            <Card
            teamA="Bills"
            teamB="Broncos"
            teamLogoSrcA="/bills.svg"
            teamLogoSrcB="/broncos.svg"
            gamblingLine="Bills +6.5"
        />
        </li>
        <li class="">
            <Card
            teamA="Bills"
            teamB="Broncos"
            teamLogoSrcA="/bills.svg"
            teamLogoSrcB="/broncos.svg"
            gamblingLine="Bills +6.5"
        />
        </li>
        <li class="">
            <Card
            teamA="Bills"
            teamB="Broncos"
            teamLogoSrcA="/bills.svg"
            teamLogoSrcB="/broncos.svg"
            gamblingLine="Bills +6.5"
        />
        </li>
        <li class="">
            <Card
            teamA="Bills"
            teamB="Broncos"
            teamLogoSrcA="/bills.svg"
            teamLogoSrcB="/broncos.svg"
            gamblingLine="Bills +6.5"
        />
        </li>
    </ul>
      
    
</Layout>
