---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<h1 class="text-center">A little about me</h1>
</Layout>

<style>
	h1 {
		width: 800px;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
