---
import Link from '../components/Link.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<h1 class="text-center">Welcome to my NFL blog</h1>
	<ul class="flex gap-4">
		<Link href="picks/week9">Week 9</Link>
	</ul>
</Layout>

<style>
</style>
